<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="category : ${categories}">
    <a th:href="@{/home/{id}(id=${category.getId()})}"
       th:text="${category.getName() + ', ' + category.getLevel()}">user</a>
</div>

<br/>
<a href="category/add">Add new category</a>
<hr/>

<div th:each="task : ${tasks}">

    <form th:method="POST" th:action="@{/task/{id}(id=${task.getId()})}" th:object="${taskPassed}">
        <span th:text="${task.getCategory() != null} ? ${task.getCategory().getName() + ','} : 'No category,'">task</span>
        <span th:text="${task.getContent() + ' Deadline: ' + task.getDeadline()}"></span>
    <input type="submit" value="Done" />
   </form>
</div>

<br/>
<a href="task/add">Add new task</a>
<hr/>

</body>
</html>